<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="DevForecast">
    @RenderBody()
    @Scripts.Render("~/bundles/app")
</body>
</html>
