@{
    ViewBag.Title = "Dev Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="MainController" class="container">
    <div ng-repeat="weekForecast in weekForecasts" class="games-schedule-items">
        <div class="row">
            <div ng-repeat="dayForecast in weekForecast" class="col-sm-2 col-xs-4">
                <div class="tile tile9">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active" style="height:165px;width:165px;color:white;padding-left:20px">
                                <h1>{{dayForecast.DayOfTheMonth}}</h1>
                                <p>{{dayForecast.DayOfTheWeek}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

